@use "../../partials/mixins" as *;
.about-container {
    margin: 5rem 2rem 0rem 2rem;

    &__img {
        width: 50%;
        float: left;
        margin: 0rem 1rem 1rem 0rem;
        border-radius: 10px;

        @include tablet {
            width: 30%;
        }
    }

    &__bio {
        line-height: 2rem;

        &:nth-of-type(4) {
            margin-bottom: 8rem;
        }
    }
    &__highlight {
        background-color: gold;
        color: black;
    }
}
