@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid $lm-text;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding: 0rem 2rem;
    height: 14rem;
    @include text-shadow;
    @include shadow;

    @include mobile-landscape {
        height: 11rem;
    }

    /*   &_h1 {
    } */

    &__text-transition {
        font-size: 1.5rem;
    }
}
