@use "./partials/typography" as *;
@use "./partials/variables" as *;

body,
html {
  font-family: "Urbanist", sans-serif;
  background-color: $lm-background;
  color: $lm-text;
  position: relative;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
}
